<div class="container-fluid p-4">
  <div *ngIf="cart?.length!=0" class="mb-5">
    <div class="d-flex flex-column p-0" >
      <strong>Add to Cart</strong>
      <div class="d-flex flex-column">
        <div class="selectedProductcards" *ngFor="let item of cart">
          <div class="card mb-3">
            <img src="assets/Maiora/close-icon-2048x2048-8uto7ebt.png" class="closeicon" (click)="decressitems(item)">
            <div class="d-flex justify-content-between">
              <img [src]="item.img" class="w-25">
              <div class="d-flex flex-column">
                <p class="itemstxt">{{ item.name }} x {{ item.quantity }}</p>
                <b>₹{{ item.price * item.quantity }}</b>
              </div>
              <div class="d-flex mt-4">
                <button class="btncss1">+</button>
                <button class="btncss1">{{ item.quantity }}</button>
                <button class="btncss1">-</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <label>SubTotal: ₹{{ subTotalAmount }}</label>
      <label>Discount: ₹{{ discountAmount }}</label>
      <label>Total: ₹{{ totalAmount }}</label>
    </div>
    <button class="btncss w-100">Buy Now</button>

  </div>

  <div class="row">
    <div class="p-0 mb-4" *ngFor="let selectedProduct of products">
      <div class="itemcard">
        <img src="assets/Maiora/like symbol.jpg" class="likesymbol">
        <div class="d-flex flex-column align-items-center">
          <img [src]="selectedProduct.img" class="w-50">
        </div>


        <div class="d-flex justify-content-between m-2 p-0">
          <strong style="position:relative;right: 7px;">Cheese Burger</strong>
          <b>${{ selectedProduct.price }}</b>
        </div>

        <div class="d-flex flex-column">
          <label class="label-txt">In Stock</label>
          <img src="assets/Maiora/images.png" style="width: 85px;">
        </div>

        <div class="d-flex justify-content-between m-2 p-0">
          <strong style="position:relative;right: 7px;">Product Quantity</strong>
          <div class="d-flex">
            <button class="btncss" (click)="addToCart(selectedProduct)">+</button>
            <button class="btncss">1</button>
            <button class="btncss" (click)="decreaseQuantity(selectedProduct)">-</button>
          </div>
        </div>

        <div class="d-flex flex-column p-0">
          <strong>Product Details</strong>
          <p class="paratxt">
            The best burgers offer a combination of tastes and textures – sweet, sour, salt – with a bit of crunch.
            The patty needs to be juicy, the bun soft but sturdy, and you want the meat/bun/accompaniment ratio to
            be even from first to last bite.
          </p>
        </div>
      </div>
    </div>



    <div class="d-flex flex-column p-0">
      <strong>Related Product</strong>
      <div class="d-flex justify-content-between">
        <div class="itemcards">
          <div class="d-flex">
            <img src="assets/Maiora/istockphoto-520410807-612x612.jpg" class="w-100">
          </div>
        </div>
        <div class="itemcards">
          <div class="d-flex">
            <img src="assets/Maiora/istockphoto-520410807-612x612.jpg" class="w-100">
          </div>
        </div>
        <div class="itemcards">
          <div class="d-flex">
            <img src="assets/Maiora/istockphoto-520410807-612x612.jpg" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>