.label-txt{
    font-size: 14px;
    font-family: Poppins;
    color: green;
    font-weight: 600;
}
.btncss{
    border: none;
    background-color: yellow;
    width: 26px;
}
.paratxt{
    font-size: 14px;
    font-family: poppins;
    font-weight: 400;
}

.itemstxt{
    font-size: 10px;
    font-family: poppins;
    font-weight: 400;
}
.card{
    padding: 9px !important;
    background-color:yellow !important ;
}
.closeicon{
    width: 10px;
    display: flex;
    position: relative;
    left: 95%;
    bottom: 6px;
}
.btncss1{
    background-color: white;
    border: none;
    height: 25px;
}