<div class="container-fuild">
    <div class="row p-2">
        <div class="col-12 mt-2">
            <input type="text" class="form-control" placeholder="Serach" [(ngModel)]="search">
        </div>
        <div class="col-12 mt-4 mb-4">
            <label>Popular items</label>
        </div>

        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div class="itemcards">
                    <div class="d-flex flex-column align-items-center"> 
                        <img src="assets/Maiora/istockphoto-520410807-612x612.jpg" class="w-50">
                        <p>Cheese burger</p>
                        <h4>$389.00</h4>
                        <button class="Addbtn" (click)="navigateToProduct()">Add to Cart</button>
                    </div>

                </div>
                <div class="itemcards">
                    <div class="d-flex flex-column align-items-center"> 
                        <img src="assets/Maiora/istockphoto-520410807-612x612.jpg" class="w-50">
                        <p>Cheese burger</p>
                        <h4>$389.00</h4>
                        <button class="Addbtn" (click)="navigateToProduct()">Add to Cart</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 mt-4 mb-4">
            <label>Special Offers</label>
        </div>

        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div class="itemcards">
                    <div class="d-flex flex-column align-items-center"> 
                        <img src="assets/Maiora/istockphoto-520410807-612x612.jpg" class="w-50">
                        <p>Cheese burger</p>
                        <h4>$389.00</h4>
                        <button class="Addbtn" (click)="navigateToProduct()">Add to Cart</button>
                    </div>

                </div>
                <div class="itemcards">
                    <div class="d-flex flex-column align-items-center"> 
                        <img src="assets/Maiora/istockphoto-520410807-612x612.jpg" class="w-50">
                        <p>Cheese burger</p>
                        <h4>$389.00</h4>
                        <button class="Addbtn" (click)="navigateToProduct()">Add to Cart</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 mt-4 mb-4">
            <label>New Arrival items</label>
        </div>

        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div class="itemcards">
                    <div class="d-flex flex-column align-items-center"> 
                        <img src="assets/Maiora/istockphoto-520410807-612x612.jpg" class="w-50">
                        <p>Cheese burger</p>
                        <h4>$389.00</h4>
                        <button class="Addbtn" (click)="navigateToProduct()" >Add to Cart</button>
                    </div>

                </div>
                <div class="itemcards">
                    <div class="d-flex flex-column align-items-center"> 
                        <img src="assets/Maiora/istockphoto-520410807-612x612.jpg" class="w-50">
                        <p>Chicken burger</p>
                        <h4>$369.00</h4>
                        <button class="Addbtn" (click)="navigateToProduct()">Add to Cart</button>
                    </div>
                </div>
            </div>

        </div>
       

    </div>
</div>