/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins';
  touch-action: manipulation;
}

.background-blur {
  filter: blur(5px);
  pointer-events: none;
}

.commonask {
  color: grey;
  font-weight: 600;
}


.did-floating-textarea {
  font-size: 12px;
  display: block;
  width: 100%;
  height: 80px;
  padding: 10px 1px 0 3px;
  background: #fff;
  color: #323840;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    padding-top: 10px;

    ~.did-floating-label {
      top: -8px;
      font-size: 13px;
    }
  }
}

.did-floating-textarea:not(:placeholder-shown)~.did-floating-label {
  top: -8px;
  font-size: 13px;
}



label {
  font-size: 14px;

}

.cancelButton {
  text-transform: uppercase;
  background-color: black;
  border: 3px solid #FFFF00;
  padding: 10px 30px 10px 30px;
  margin: 5px;
  color: #FFFF00;
}

.submitButton {
  text-transform: uppercase;
  background-color: #FFFF00;
  border: 3px solid #FFFF00;
  padding: 10px 30px 10px 30px;
  background-color: #FFFF00;
  margin: 5px;
  color: black;
}


.filtercolor {
  color: #FFFF00;
  font-weight: 800;
}


.bindeddataColor {
  color: #FFFF00;
  font-weight: 800;
}

::ng-deep .modal-dialog-scrollable .modal-content {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  max-height: 75% !important;
  overflow: hidden;
}

.filterIco {
  width: 15px;
}

.noresluts {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Poppins';
}

/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins';
}

.background-blur {
  filter: blur(5px);
  pointer-events: none;
}


.showingresult {
  font-size: 14px;
  margin: 0.5rem 0rem;
  black-space: nowrap;
}



.cancelButton {
  text-transform: uppercase;
  background-color: black;
  border: 3px solid #FFFF00;
  padding: 10px 30px 10px 30px;
  margin: 5px;
  color: #FFFF00;
}

.submitButton {
  text-transform: uppercase;
  background-color: #FFFF00;
  border: 3px solid #FFFF00;
  padding: 10px 30px 10px 30px;
  background-color: #FFFF00;
  margin: 5px;
  color: black;
}

.card {
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  width: 100%;
  height: auto;
}

.filtercolor {
  color: #2c6777;
  font-weight: 800;
}


.bindeddataColor {
  color: #FFFF00;
  font-weight: 800;
}

::ng-deep .modal-dialog-scrollable .modal-content {
  position: fixed !important;
  bottom: 0 !important;
  border-top-right-radius: 25px !important;
  border-top-left-radius: 25px !important;
  border: 1px solid #FFFF00 !important;
  left: 0 !important;
  max-height: 75% !important;
  overflow: hidden !important;


}

.inactivebtn {
  border: 2px solid #FFFF00;
  background-color: black;
  color: #FFFF00;
  font-weight: 600;
  width: 33.3%;
  font-size: 14px;
  padding: 1%;
}

.activebtn {
  border: 2px solid #FFFF00;
  background-color: #FFFF00;
  color: black;
  font-weight: 600;
  width: 33.3%;
  font-size: 14px;
  padding: 1%;
}

.blue-card {
  background: #FFFF00;
  width: 100%;
  height: 15vh;
  border: 2px solid #FFFF00;
}

.fitercard { 
  width: 100%;
  background: #ffffff;
  padding: 5%;
  border-radius: 11px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  /* left: 30px; */
  border: 1px solid #FFFF00;
  /* bottom: 1vh; */
  top: 10px;
}

.filter-cards {
  margin-top: -12vh;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 3%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.btn-group>.btn-group:not(:first-child),
.btn-group>:not(.btn-check:first-child)+.btn {
  margin-left: calc(var(--bs-border-width) * -1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.grid-cards {
  padding: 5%;
  background: #E8EBFF !important;
  border-radius: 12px;
  width: 100%;
  height: auto;
  border: 1px solid #8080805c;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  padding: 8%;
}

.Layout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 14px;
  border: 4px solid #E8EBFF;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
}

.date-border {
  border: 1px solid #FFFF00;
}

.noDataCard {
  height: 100px;
  width: 100%;
  padding: 5%;
  background-color: #FFFFFF;
  margin: 11% 0%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.reslutcard {
  height: auto;
  width: 100%;
  background-color: black;
  box-shadow: 4px 2px 2px 4px rgba(150, 150, 150, 0.1);
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFF00;
  border-radius: 11px;
  margin: 18px 5px;
}

.reslutbg {
  background-color: #E8EBFF;
  width: 90%;
  padding: 2%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  text-align: center;
  margin: 5px;
}

.detailsbtn {
  border: 1px solid #FFFF00;
  background-color: #FFFF00;
  color: black;
  width: 150px;
  border-radius: 8px;
  font-size: 14px;
  padding: 2%;
}

.floating-button {
  position: fixed;
  bottom: 10%;
  border: none;
  /* height: 8vh; */
  width: 12% !important;
  left: 80%;
  /* padding: 2%; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forms-fileds {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*date place holder css*/

.input-container {
  position: relative;
  margin-bottom:
    20px;
  black-space: nowrap;
}

.input-container label {
  position: absolute;
  top:
    25%;
  left:
    10px;
  transform:
    translateY (- 50%);
  pointer-events: none;
  transition:
    0.2s ease-out;
  black-space: nowrap;
}

.input-container input {
  width:
    100%;
  padding:
    10px;
  box-sizing: border-box;
  black-space: nowrap;
}

.input-container input:placeholder-shown+label {
  opacity:
    0;
  transform:
    translateY (0);
  black-space: nowrap;
}

.input-container input:not(:placeholder-shown)+label {
  opacity:
    1;
  transform:
    translateY (- 50%);
  black-space: nowrap;
}

.form-control {
  black-space: nowrap !important;
}

.resultinner {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  black-space: nowrap !important;

}
/*---*/
.itemcards{
  border: 1px solid #FFFF00;
  height: auto;
  width: 100%;
  margin: 5px;
}
.Addbtn{
  background-color: #FFFF00;
  color: black;
  border-radius: 5px;
  padding: 4px;
  margin: 5px;
  width: 85%;
  font-size: 14px;
  font-family: poppins;
  border: none;
}
.likesymbol{
  height: 14px;
 position: relative;
 left: 85%;
}
.itemcard{
  height: 100%;
  border: 1px solid #FFFF00;
  padding: 5%;
  border-radius: 12px;
}